#container .fl_blog1, #container .fl_blog2{
  display:block;
  width: 49%;
  padding:0px;
}

.fl_blog1{float:left;}
.fl_blog2{float:right;}

/* ------------------------------------------- */
/* -------------mapBox------------------------ */
/***********Tool************/
.ct_toolBody{
    width: 100%;
    position:relative; 
    margin: 0 auto;
    float:left; 
    padding: 0;
}
#ct_descrip, #ct_des_map {
  margin: 5px;
}
.ct_mapBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.ct_tool{
  display:block;
  width: 100%;
  margin-top: 8px; 
  float:right;
  border-color: #ddd;
  background-color: #f5f5f5;
}

.ct_mapBox{
  min-height: 450px;
}

.ct_mapBox-body {
  padding: 8px;
}
.ct_mapBox-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ct_mapBox-heading p{
  padding: 0px;
  margin:0px;
}
.ct_mapBox > .ct_mapBox-heading{
  color: #333;
  border-color: #ddd;
  background-color: #f5f5f5;
}

.ct_mapBody{
    width: 100%;
    position:relative; 
    margin: 0 auto;
    float:left; 
    padding: 0;

}
#map_future, #map_past, #map_rcp45, #map_rcp85, #map_graph{
   background-color:#F4F4F4;
   border:1% solid #d6d6c2;color:#ffffe6;
   border-radius: 3px;
   width: 100%;
   /*border: 1px solid black;*/
   margin: 0 auto;
   padding: 0;
   float:center;
   color: black;
}  
#map_future, #map_past, #map_rcp45, #map_rcp85{
  height: 340px;
}
#map_graph{
  height: 300px;  
}

/* ------------------------------------------- */
/* -----------------legend-------------------- */
#container .legend{
  display:block;
  width: 100%;
  padding:0px;
  float:left;
}

#legend_H, #legend_rcp85, #legend_rcp45{
  display:block;
  width: 100%;
  height: 50px;
  position: relative;
  border: 1px solid transparent;
  border-color: #000;
}  
#legend_H, #legend_rcp85, #legend_rcp45{
  margin: 10px 0 10px 0;
}
.legend_compare {
  font: 8px sans-serif;
  margin-top: 2px;
  border-color: #000;
}

.legend_compare path {
  display: none;
}

.legend_compare line {
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.caption_compare {
  font: 10px sans-serif;
  text-align: right;
  text-anchor:middle;
  /*font-weight: bold;*/
}



/* ------------------------------------------- */
/* -----------------select year--------------- */
/*
Original Code:  http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ 
Type:  Input radio button check
Style:  Image-based styling
*/

.example{
  margin-bottom : 1.5em;
}

input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 10px;
  padding : 0;
  opacity : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio]:not(old):checked + label{
  /* position top-bottom */
  background-position : 0 -48px;
}




/*--- input type size range ---*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 83%;
}

.range-slider {
  margin: 0 0 0 0%;
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 8px;
  outline: none;
  box-shadow: 2px 2px 1px #000000;
  background: #74A9D8 ;
  border-radius: 6px;
  border: 0px solid #010101;
}
.range-slider__range::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 20px;
  width: 40px;
  border-radius: 17px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;


}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

/*--- bar size (range thumb) ---*/
.range-slider__range::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 20px;
  width: 40px;
  border-radius: 17px;
  background: #FFFFFF;
  cursor: pointer;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

/*--- text value year ---*/
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 40px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

/*--- moz line center slider ---*/
::-moz-range-track {
  background: #FFFFFF;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


/* Labels below slider */
.sliderP { margin: 0 10px; }
.expand-me { margin: 50px auto; width: 100px; height: 25px; background: #000; }