#tnav{display:block; float:left; width:660px; margin:0; padding:0; list-style:none;
 font-size:16px; font-weight:normal; font-family:Verdana, Arial, Helvetica, sans-serif;
 color:#FFFFFF; background-color:#000000;}

#tnav ul, #tnav li{float:left;  list-style:none; margin:0; padding:0;}
#tnav li a:link, #tnav li a:visited, #tnav li a:hover{display:block; margin:0; padding:10px 15px; color:#FFFFFF; background-color:#000000;}
#tnav ul ul li a:link, #tnav ul ul li a:visited{border:none;}
#tnav li.last a{margin-right:0;}
#tnav li a:hover, #tnav ul li.active a{color:#FFFFFF; background-color:#059BD8;}
#tnav li li a:link, #tnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#000000;}
#tnav li li a:hover{color:#FFFFFF; background-color:#059BD8;}
#tnav li ul{background:#FFFFFF; z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;}
#tnav li ul a{width:140px;}
#tnav li ul ul{margin:-32px 0 0 0;}
#tnav li:hover ul ul{left:-999em;}
#tnav li:hover ul, #tnav li li:hover ul{left:auto;}
#tnav li:hover{position:static;}

#topnav{display:block; float:left; width:660px; margin:0; padding:0; list-style:none; font-size:13px; font-weight:normal; font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#000000;}
#topnav ul, #topnav li{float:left; list-style:none; margin:0; padding:0;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:15px 20px; color:#FFFFFF; background-color:#000000;}
#topnav ul ul li a:link, #topnav ul ul li a:visited{border:none;}
#topnav li.last a{margin-right:0;}
#topnav li a:hover, #topnav ul li.active a{color:#FFFFFF; background-color:#059BD8;}
#topnav li li a:link, #topnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#000000;}
#topnav li li a:hover{color:#FFFFFF; background-color:#059BD8;}
#topnav li ul{background:#FFFFFF; z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;}
#topnav li ul a{width:140px;}
#topnav li ul ul{margin:-32px 0 0 0;}
#topnav li:hover ul ul{left:-999em;}
#topnav li:hover ul, #topnav li li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last a{margin-right:0;}