{% extends 'base.html' %}
{% block title %}Climate Project{% endblock %}
{% block meta %}
  <style type="text/css">  
    .col3 img{
        width:800px;
        height:1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .col3 .tx1{
      font: 18px sans-serif;   
      margin-bottom: 50px;
    }

    .col3 .tx0{
      font: 25px sans-serif;   
    }

    .col3 iframe{
        margin: auto;
        display:block;
    
    }
  </style>
{% endblock %}

{% block begin %}makeBase(){% endblock %}

{% block head %}
  <h1>Climate Project</h1>
{% endblock %}

{% block tnav %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'map' %}">Contrast</a></li>
    <li class="active"><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block col3 %}
  <p class="tx0">Poster</p>
  {% load staticfiles %}
  <img src="{% static 'pictures/P3.jpg' %}" alt="Poster">
        
  <p class="tx1">Click Here <a href="https://drive.google.com/file/d/0B0TVqnXzz0yjWTVwcmFMMkNIdGM/view?usp=sharing">Download</a> Poster</p>

  <p class="tx0">Presentation</p>
  <iframe src="https://drive.google.com/file/d/0B0TVqnXzz0yjS0k4Y2x3OV9GeW8/preview" height="480" width="640"></iframe>
  <p class="tx1">Click Here <a href="https://drive.google.com/file/d/0B0TVqnXzz0yjS0k4Y2x3OV9GeW8/view?usp=sharing">Download</a> Presentation</p>

{% endblock %}

{% block col4 %}


{% endblock %}

{% block col5 %}
    <!--div class="fl_left">
      <h2>Climate.</h2>
      <p>U</p>
      <p class="readmore"><a href="#">Contact us</a></p>
    </div-->
{% endblock %}

{% block JSload %}


{% endblock %}
