{% extends 'base.html' %}
{% block title %}Climate Project{% endblock %}
{% block meta %}
  <style type="text/css">  
        svg {
          font: 10px sans-serif;
        }
        .area {
          fill: #80aaff;
          clip-path: url(#clip);
        }
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .grid-background {
          fill: #ddd;
        }
        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }
        .grid .minor.tick line {
          stroke-opacity: .5;
        }
        .brush .extent {
          stroke: #fff;
          fill-opacity: .125;
          shape-rendering: crispEdges;
          clip-path: url(#clip);
        }
        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }
        .tick line{
          opacity: 0.2;
        }
        .line{
           fill: none;
           stroke:  #80aaff;
           stroke-width: 2px;
        }    
              
           
  </style>
{% endblock %}

{% block begin %}makeBase(){% endblock %}

{% block head %}
  <h1>Climate Project</h1>
{% endblock %}

{% block tnav %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'map' %}">Contrast</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block col3 %}
<!--<button onclick="exportPNG();">Export</button>-->
    <div class="fl_blog1">
      <div class="ct_mapBox">
        <div class="ct_mapBox-heading"> Historical Map 1970-2005</div>
        <div class="ct_mapBox-body">
          <div class="ct_mapBody"><div id="map_past"></div>
            <div class="legend"><div id="legend_H"></div></div>
          </div>
          <!-- tool Box -->
        </div>
      </div>   
    </div>                        

    <div class="fl_blog2">
      <div class="ct_mapBox">
        <div class="ct_mapBox-heading">Future Map RCP8.5 2006-2100 </div>
        <div class="ct_mapBox-body">
          <div class="ct_mapBody"><div id="map_rcp85"></div>
            <div class="legend"><div id="legend_rcp85"></div></div>
          </div>

        </div>
      </div>
    </div>

    <div class="fl_blog1">
      <div class="ct_mapBox">
        <div class="ct_mapBox-heading" id = "graph_head"> Graph Compare Hist RCP8.5 and RCP4.5</div>
        <div class="ct_mapBox-body">
          <div class="ct_mapBody"><div id="map_graph"></div>
          </div>
       <div class="ct_tool">            
            <p id="SlFuture">&nbsp;&nbsp;Select a variable / index
              <select name="s-variable" class="select-style l-blue semi-sq selectpicker" onchange="ChangeCarList()" id="varFuture" >
                <option value="1" >Temperature</option>
                <option value="2" >Preciptation</option>
              </select>
              <select name="s-index" class="select-style l-blue semi-sq" id="cindexFuture" >
            </select></p>
            <p>&nbsp;&nbsp;Select Grid size
              <select name="s-grid" class="select-style l-blue semi-sq" id="gridSize">
              <option value="0">3x3</option>
              <option value="1">2x2</option>
              <option value="2">1x1</option>
            </select>

            </p>
    </div>     
        </div>
      </div>
    </div>   
                   

    <div class="fl_blog2">
      <div class="ct_mapBox">
        <div class="ct_mapBox-heading">Future Map RCP4.5 2006-2100 </div>
        <div class="ct_mapBox-body">
          <div class="ct_mapBody"><div id="map_rcp45"></div>
            <div class="legend"><div id="legend_rcp45"></div></div>
          </div>

        </div>
      </div>
    </div>



         

   
{% endblock %}

{% block col4 %}


{% endblock %}

{% block col5 %}
    <!--div class="fl_left">
      <h2>Climate.</h2>
      <p>U</p>
      <p class="readmore"><a href="#">Contact us</a></p>
    </div-->
{% endblock %}

{% block JSload %}
{% load staticfiles %}
<script src="{% static 'node_modules/topojson/node_modules/d3/d3.js' %}"></script>
<script src="{% static 'node_modules/d3-geo-projection/d3.geo.projection.js' %}"></script>
<script src="{% static 'node_modules/topojson/build/topojson.js' %}"></script>
<!--<script src="{% static 'js/MapPlot.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/MapPlot_Hist.js'%}"></script>
-->
<script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript">


   //var maxts_data = {{Max_ts|safe}}
   var graph_max_hist = {{max_ts_hist|safe}}
   var graph_max_rcp45 = {{max_ts45|safe}}
   var graph_max_rcp85 = {{max_ts85|safe}}

   var map_hist = {{map_hist|safe}}
   var map_rcp45 = {{map_rcp45|safe}}
   var map_rcp85 = {{map_rcp85|safe}}
  //console.log("Begin: "+map_rcp85.features[0].properties.value);

</script>
{% csrf_token %}

<script type="text/javascript" src="{% static 'js/compareMap.js'%}"></script>
<script type="text/javascript" src="{% static 'js/compareSlt.js'%}"></script>
<!--script type="text/javascript" src="{% static 'js/compareSave.js'%}"></script-->

{% endblock %}
