{% extends 'base.html' %}
{% block title %}Climate Project{% endblock %}
{% block meta %}
  <style type="text/css">  
        svg {
          font: 10px sans-serif;
        }
        .area {
          fill: #80aaff;
          clip-path: url(#clip);
        }
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .grid-background {
          fill: #ddd;
        }
        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }
        .grid .minor.tick line {
          stroke-opacity: .5;
        }
        .brush .extent {
          stroke: #fff; 
          fill-color:#cc7a00;
          fill-opacity: 0.8;
          /* IE 11 */
          background-color: rgba(204, 122, 0, 0.8);
          shape-rendering: crispEdges;
          clip-path: url(#clip);
        }
        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }
        .tick line{
          opacity: 0.2;
        }
        .line{
           fill: none;
           stroke:  url(#temperature-gradient);
           stroke-width: 2px;
        }   

        .hidden { 
          display: none; 
        }
div.tooltip {
  color: #222; 
  background: #CCFFE5; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  /* IE 11 */
  background-color: rgba(204, 255, 229, 0.9);
  position: absolute;
}
.country{
  /* IE 11 */
  background-color: rgba(255, 0, 0, 0);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  fill-opacity: 0;
  fill:#FF0000;
}
.country:hover{
  stroke: #fff;
  stroke-width: 3px;

}
.text{
  font-size:10px;
  text-transform:capitalize;
}     
           
  </style>
{% endblock %}

{% block begin %}makeBase(){% endblock %}

{% block head %}
  <h1>Climate Project</h1>
{% endblock %}

{% block tnav %}
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'map' %}">Contrast</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock %}


{% block col3 %}
    <div class="fl_left">
      <div class="mapBox_map">
        <div class="mapBox-heading"><p id="MapName">Map</p></div>
        <div class="mapBox-body">
          <div class="mapBody"><div id="map_p"></div>
            <div class="fl_legend"><div id="legend_p"></div></div>
          </div>          
        </div>
        <!--<button resetP class="button2">ReDraw</button>  -->
      </div>   
    </div>                        

    <div class="fl_right">
      <div class="mapBox_graph">
        <div class="mapBox-heading" >
        <p id="GraphName">Graph</p>
        </div>
        <div class="mapBox-body">
          <div class="mapBody"><div id="map"></div></div>
          <div class="fl_time"><div id="map3"></div></div>

        </div>
      </div>

    <div class="fl_tool">
      <div class="toolBox">
         <p>&nbsp;&nbsp;Select Rcps
          <select name="s-rcp" class="select-style l-blue semi-sq selectpicker" id="rcp">
            <option value="45" >Rcp4.5</option>
            <option value="85" >Rcp8.5</option>
          </select>
          <input type="checkbox" name="s-compare" id="compare_rcp" checked="checked" onchange="doalert(this)">compare<br>
          </p>
         <p>&nbsp;&nbsp;Select a variable / index
          <select name="s-variable" class="select-style l-blue semi-sq selectpicker" onchange="ChangeCarList()" id="vars" >
            <option value="1" >Temperature</option>
            <option value="2" >Preciptation</option>
          </select>
          <select name="s-index" class="select-style l-blue semi-sq" id="cindex" >
          </select></p>
         <p>&nbsp;&nbsp;Select Grid size
            <select name="s-grid" class="select-style l-blue semi-sq" id="gridSize">
            <option value="0" >3x3</option>
            <option value="1" >2x2</option>
            <option value="2" >1x1</option>
          </select></p>
          <!--
          <p>&nbsp;&nbsp;Select Years
            <select name="s-years" class="select-style l-blue semi-sq" id="list_year">
          </select></p> -->

          <p id = "descrip">Descriptions:</p>
          <p id="des_map"></p>
      </div>
    </div>

     </div>
   

    
{% endblock %}

{% block col4 %}


{% endblock %}

{% block col5 %}
    <div class="fl_left">
      <!--h2>Climate.</h2>
      <p>U</p>
      <p class="readmore"><a href="#">Contact us</a></p-->
    </div>
{% endblock %}

{% block JSload %}
{% load staticfiles %}
<script src="{% static 'node_modules/topojson/node_modules/d3/d3.js' %}"></script>
<script src="{% static 'node_modules/d3-geo-projection/d3.geo.projection.js' %}"></script>
<script src="{% static 'node_modules/topojson/build/topojson.js' %}"></script>
<script type="text/javascript">
   var maxts_data = {{max_ts45|safe}}
   var maxts_data85 = {{max_ts85|safe}}
   var map_data = {{map_data|safe}}
   var len_max,len_min; 
   len_max = {{len_max}}
   len_min = {{len_min}} 
   //console.log(len_max+"-----"+len_min);  
   //console.log(map_data.features[1])
</script>
<script src="{% static 'js/MapPlot.js' %}"></script>
{% csrf_token %}
<script type="text/javascript" src="{% static 'js/GraphPlot.js'%}"></script>

{% endblock %}